$primary-color: #3f48cc;
$secondary-color: grey;
$tertiary-color: black;

// App layout variable
$header-height: 100px;
$footer-height: 80px;

// Page layout variable

$page-padding: 40px 50px;

@mixin debug($size, $color) {
    //border: $size solid $color;
}

@mixin debugCloudShootLayout($size, $color) {
    // border: $size solid $color;
}
@mixin debugLogin($size, $color) {
    border: $size solid $color;
}

@mixin debugHeader($size, $color) {
    border: $size solid $color;
}
@mixin debugProfile($size, $color) {
    border: $size solid $color;
}

// function
@mixin hoverEffect() {
    &:hover {
        cursor: pointer;
    }
}
