@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Comic Sans MS";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("./fonts/ComicNeue-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    font-feature-settings: "ss01" on, "ss02" on, "calt" off;
    src: url("./fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LilitaOne";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("./fonts/LilitaOne-Regular.ttf") format("truetype");
}

* {
    font-family: "LilitaOne";
}
