@charset 'UTF-8';
@import "breakpoints";
@import "fonts";
@import "style";

#game-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;

    // background-color: black;
    // [todo]: replace by some nice simple background
    canvas {
        display: block;
        // background-color: orange;
        // do not use border, it will make scroll effect appear
        // border: 5px solid cyan;
    }
}
#app {
    // border: 5px solid red;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
