/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

// === BEGIN variable

$hover-scale: 1.05;

// === END variable

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    font-family: "LilitaOne";
}
body button:focus,
body img:focus,
body input:focus {
    outline: -webkit-focus-ring-color auto 0;
}
body .message-info {
    width: 20%;
    height: auto;
    min-height: 30px;
    position: absolute;
    top: 5px;
    left: 40%;
    padding-top: 10px;
    text-align: center;
}

.icon {
    pointer-events: auto;
    &:hover {
        cursor: pointer;
        transform: scale($hover-scale);
    }
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}

// BEGIN COMMON
.btn-effect {
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.2s;
    &:hover {
        cursor: pointer;
        transform: scale($hover-scale);
    }
}

.btn-bg-prop {
    background-size: contain;
    background-position: center !important;
    background-repeat: no-repeat;
}

.raw-btn {
    pointer-events: auto;
    width: 120px;
    height: 60px;

    padding: 10px 25px;
    font-size: 22px;

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("./images/button.png");
    background-size: contain;
    background-position: center !important;
    background-repeat: no-repeat;

    transition-duration: 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale($hover-scale);
    }
}

.raw-btn-md {
    pointer-events: auto;
    width: 180px;
    height: 60px;

    padding: 10px 25px;
    font-size: 22px;

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("./images/button-md.png");
    background-size: contain;
    background-position: center !important;
    background-repeat: no-repeat;

    transition-duration: 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale($hover-scale);
    }
}

.raw-btn-small {
    width: 100px;
    height: 50px;
    font-size: 18px;
}
// END COMMON

/*BEGIN MODAL ZONE*/
.modal-container {
    border: 5px solid pink;
}

/*END MODAL ZONE*/

canvas {
    // border: 5px solid cyan;
}

// TEXT-SIZING

.page-title-text {
    font-size: 30px;
}

.title-text {
    font-size: 30px;
}

.primary-text {
    font-size: 22px;
}
.secondary-text {
    font-size: 20px;
}
.tertiary-text {
    font-size: 18px;
}
.quaternary-text {
    font-size: 12px;
}

.field-text {
    font-size: 20px;
}
